* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'montserratregular';
}

main {
    flex-grow: 1;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
/*--------delivery--------*/
.delivery{
    background: #212121;
    color: white;
}
.delivery .container{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 70px;
}
.delivery__tittle{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 23px;
}
.delivery__tittle span{
    font-weight: normal;
}
.delivery__text{
    font-size: 21px;
    font-family: 'montserratlight';
}
/*------section man woman---------*/
.man-woman .container{
    display: flex;
    flex-direction: row;
}
.man,
.woman{
    width: 50%;
}
.man{
    background: #F9F6F1;
}
.woman{
    background: #F9E0E0;
}